body{
    background-color: #393E46;
    text-align: center;
}

h1{
    margin: 50px;
    font-family: 'Lobster', cursive;
    color: aqua;
}

label{
    padding: 10px;
    font-family: 'Lobster', cursive;
}

div{
    height: 80%;
    margin-top: 30px;
    color: palegreen;
    font-family: 'Lobster', cursive;;
    font-size: large;
}

